:root {
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000033;
}

.box {
    transform: translate(150px, 150px); /*para mover el span a esa posición*/
    position: relative;
    width: 90px;
    height: 40px;
    border: 2px solid var(--white); /*crea el borde de la caja o span*/
    z-index: -2;
    border-radius: 50px; /*redondea los bordes*/
}

.box input {
    width: 100%;
    height: 100%;/*modifica el tamaño de la chechbox, para aumentar el área donde se puede hacer click en toda el area del span*/
    opacity: 0; /*Desaparece la checkbox*/
    cursor: pointer;
}

span { /*Para hacer el círculo del toggle*/
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 35px;
    height: 35px;
    z-index: -2; /*Para establecer la zona de acción del click sobre el círculo*/
    border-radius: 50px;
    transition: all 0.25s;
    background-color: #fff;
}

/*Ahora viene la transición*/
.box input:checked ~ span {
    transform: translateX(145%) scale(1); /*Specifies a translation by the given amount in the X direction.*/
    background-color: #99ff99;
}